/* global variable */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

body,html {
    height: 100%;
    width: 100%;
    background-color: rgb(187, 160, 128);
}

header {
    height: 50px;
    width: 100%;
    background-color: rgb(199, 75, 75);
}

.header-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    margin-left: 50px;
}
.logo {
    height: 40px;
    width: 40px;
}
.nav-container {
    margin-right: 100px;
    display: flex;
    gap: 20px;
}
.nav-container a {
    color: white;
    text-decoration: none;
}
.nav-container a:hover {
    color: rgb(128, 61, 61);
}

.hero-container {
    height: 55vh;
    width: 100%;
    background-image: url(images/Bookshelf\ Photos\ -\ Download\ Free\ High-Quality\ Pictures\ _\ Freepik.jpeg);
    color: white;
}


.hero-content-container p {
    padding-top: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(235, 226, 226);
    font-size: xx-large;
    font-weight: 800;
}
#popular-grid-container,#novel-grid-container {
    margin-top: 15px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    border: none;
}

.popular-grid,.novel-grid {
    height: 150px;
    object-fit: cover;
}

section h2 {
    margin-top: 10px;
    font-size: 2rem;
    color: rgb(173, 16, 16);
    margin-left: 10px;
}

.search-container {
    position: relative;
    margin-top: 20px;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-bar {
    position: absolute;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 2px 2px black;
}

#suggestions {
  position: absolute;
  top: 60px;
  width: 250px; 
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto; 
  z-index: 1000;
}


.suggetions:hover {
    background-color: #f2f2f2;
}

.book-img {
    height: 120px;
    box-shadow: 2px 2px 2px 2px black;
}

.book-detail-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.book-img-container {
    border: 1px solid black;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px black;
    background-color: rgb(187, 187, 145);
}
.book-image {
    height: 200px;
    box-shadow: 2px 2px 2px 2px black;
}

.book-detail {
    border: 1px solid black;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px black;
    background-color: rgb(187, 187, 145);
}
.detail {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    margin: 5px;
}

.btn {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

.btn button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(187, 187, 145);
}

/* my book html*/

.detail-table{
    width: 300px;
}
.book-card {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.my-book-container {
    margin: 20px;
}
.return-btn {
    height: 30px;
    width: 70px;
    border-radius: 10px;
    margin-top: 45px;
    box-shadow: 1px 1px 1px 1px black;
    background-color: beige;
}
.back-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    margin-top: 20px;
    border-top: 1px solid black;
    background-color: rgb(121, 110, 110);
}

.footer-container {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}
.foot-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}

.content li {
    list-style: none;
}

.bottom-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* login container */

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.login-container {
    background-color: bisque;
    width: 40%;
    border: 1px solid black;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    box-shadow: 2px 2px 2px 2px black;
}

.login-container h1 {
    margin-top: 20px;
}

.login-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.login-detail input {
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
}

.log-btn {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(197, 58, 58);
    margin-bottom: 20px;
}

/* admin container*/
.admin-main {
    margin-top: 30px;
}
.admin-main h1 {
    margin: 20px;
    display: flex;
    justify-content: center;
    color: red;
}

#requests-container {
    border-bottom: 1px solid white;
}
.admin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.admin-btn {
    height: 30px;
    width: 70px;
    background-color: azure;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}

.admin-table {
    margin: 0;
    width: 500px;
}
